---
---

@import "get-started/lib/bootstrap.min.scss";
@import "base";

@font-face{
  font-family: 'MyriadProSemibold';
  src: url("../font/MyriadProSemibold.eot");
  src: local("MyriadProSemibold"),
       url("../font/MyriadProSemibold.woff") format("woff"),
       url("../font/MyriadProSemibold.ttf") format("truetype");
}
html{
    min-height: 100%;
}
body{
    color: $base-color;
    font-family: 'Roboto', sans-serif;
    background-color: $light-bg;
	width: 100%;
	overflow-x: hidden;
}
#section-slideshow,
#section-community{
    background-color: $dark-bg;
    color: $white-color;
}
#section-headline,
#section-download{
    //background-color: $light-bg;
}
#section-feature-highlights,
#section-events,
#section-quotes,
#section-feature-details{
    background-color: $white-color;
}
#section-headline,
#section-feature-highlights {
    padding-top: 50px;
    padding-bottom: 50px;
	margin-top: 60px;
}


/**
 * Page content
 */
#page-content{
  	background-color: white;
	//padding: 30px;
}

#page-header{
	margin-top: 120px;
	h2{
		margin-bottom: 10px;
		@include font-size(64px);
	}
	.title-page{
		margin-bottom: 40px;
		h3{
			display: block;
			@include font-size(24px);
			text-transform: uppercase;
			margin: 0px;
			margin-bottom: 80px;
			font-weight: 100;
			padding: 0;
			&:after{
				display: block;
				clear: both;
				content: "";
				position: relative;
				left: 0;
				bottom: 0;
				height: 1px;
				width: 15%;
				border-bottom: 2px solid #ffc600;
				padding: 10px 0px;
			}
		}
	}
}
#section-headline .text-center {
    padding: 70px 0;
}
/**
* Home page
*/
#section-headline .btn{
	display: inline-block;
    width: 310px;
    margin: 10px auto;
}
.hidden{
	display: none !important;
}
.fixed-top{
	margin: 0;
	padding: 0;
}
.bg-faded {
    background-color: $light-bg;
}
.main-nav, .fixed-top{
    @include transition(all 0.4s ease-out);
}
.fixed-top{
	padding: 20px 0;
}
.sticky{
	padding: 0;
	margin: 0;
	top: 0 !important;
}

@media(max-width:768px) {
	.fixed-top{
		position: relative;
		z-index: initial;
	}
	#section-headline, #section-feature-highlights, #page-header{
		margin-top: 60px;
		margin: 0;
		padding-bottom: 0;
	}
}

a.top-title {
    display: inline-block;
    margin-top: 17px;
    margin-left: 9px;
    font-size: 20px;
    font-weight: 700;
	color: $main-color !important;
}

.cc-grower{
	background-color: #FFF7DA;
	color:  #232A33;
	.cc-btn{
		background-color: #FFC600;
		border: 1px solid #FFC600;
		color: #FFF7DA;
	}
}

.about{
	iframe{
		margin: 0 auto;
	}
	.timeline{
		margin-top: 40px;
	}
	.us  {
		background: #f0f4f7;
		.container{
			padding-top: 70px;
			> div {
				margin-bottom: 50px;
				padding-left: 30px;
			}
			 .col-md-6 {
				 .zone-ppl {
					margin-bottom: 20px; 
					h3 {
						font-size: 22px;
						margin-top: 0;
						span {
							display: block;
							font-size: 16px;
							color: #fff;
							background: #ffc600;
							padding: 6px;
							margin-top: 5px;
						}
					}
				}
			}
			p {
				font-size: 18px;
			}
			figure {
				margin: 0;
				img {
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
			blockquote {
				padding: 10px 20px;
    			margin: 20px 0 20px;
				font-size: 16px;
				font-style: italic;
				border-left: 5px solid #0ed7b0;
			}
		}
		 h2 {
			font-size: 44px;
			margin-bottom: 50px;
		}
	}
}
.notice{
	margin-top: 40px;
}
#section-slideshow{
	padding: 40px 0;
	h2{
		font-size: 42px;
		color: $white-color;
		letter-spacing: 0;
		line-height: 66px;
		margin-bottom: 20px;
	}
	.item{
		padding: 0 6%;
		.img-container{
			max-width: 100px;
			margin: 0 auto;
			img{
				width: 100%;
			}
		}
		h3{
			font-size: 18px;
			color: $main-color-sub;
			letter-spacing: 0;
		}
		p{
			font-size: 15px;
			color: $white-color;
			letter-spacing: 0;
			line-height: 24px;
		}
	}
}
.wakanda-service{
	background-color: $white-color;
	padding-bottom: 0;
	h2{
		text-align: center;
		margin-bottom: 0;
		img{
			max-width: 64px;
			margin: -10px 10px 0 0;
		}
	}
	.item{
		padding: 80px 0;
		border-bottom: 1px solid $btn-secondary-light-bd;
		&:last-child{
			border: none;
		}
		.content-container{
			vertical-align: middle;
			h3{
				@include font-size(28px);
				color: $dark-bg;
				letter-spacing: -0.28px;
			}
			p{
				@include font-size(15px);
				color: $secondary-light-bg-color;
				letter-spacing: 0;
				line-height: 24px;
				margin: 30px 0 60px 0;
			}
			a{
				@include font-size(15px);
				color: $highlighted-color-transition;
				letter-spacing: 0;
			}
		}
		.img-container{
			vertical-align: middle;
			padding: 0 40px;
			img{
				width: 100%;
			}
		}
	}
	.download-wakanda{
		background-color: $dark-bg;
		padding: 40px 0;
		.img-container{
			max-width: 280px;
			img{
				width: 100%;
			}
		}
		p{
			@include font-size(18px);
			color: $negatif-gray;
			letter-spacing: 0;
			margin: -8px 0 0 70px;
		}
		.community-dl{
			color: $darken-blue;
			white-space: initial;
			span{
				color: $darken-blue;
			}
		}
	}
}