#section-download{
    code {
        display: block;
        color: $white-color;
        background-color: $dark-bg;
        font-size: 60%;
        min-width: 65px;
    }
    .production-table{
        border-spacing: 0;
        border-collapse: collapse;
        text-align: center;
        td, th {
            border: none;
        }
        thead{
            .community, .enterprise {
                height: 73px;
                vertical-align: middle;
                text-align: center;
            }
            .community{
                background: $highlighted-bg;
                color: $white-color;
            }
            .enterprise{
                background: $dark-bg;
                color: $white-color;
            }
        }
        tbody > tr:nth-of-type(odd) {
            background-color: $light-bg-transition;
        }
        .item-title{
            text-align: left;
        }
        .action{
            text-align: center;
            .btn-lg {
                font-size: 95%;
            }
            .fa{
                margin-right: 8px;
            }
            .dl-info{
                display: inline-block;
                font-size: .9rem;
                margin-top: 15px;
                width: 100%;
            }
        }
    }
    .dropdown-toggle:focus{
        box-shadow: none;
    }
    .dropdown-menu{
        padding: 0;
        table{
            min-width: 290px;
            thead th.build-header{
                font-weight: 500;
                text-align:center;
            }
            tbody tr{
                background-color: transparent;

                &:nth-child(odd){
                    background-color: $table-odd;
                }
                &:nth-child(even){
                    background-color: $table-even;
                }
            }
            td{
                text-align: center;
                .fa{
                    &.stable{
                        color: $btn-primary-bg;
                    }
                    &.preview{
                        color: $secondary-color;
                    }
                }
                &.os{
                    font-weight: 300;
                    font-size: 80%;
                    text-align: right;
                    min-width: 130px;
                }
            }
        }
    }
    @media(max-width: 940px){
        font-size: 90%;
    }

    @media(max-width:767px){
        font-size: 70%;
        min-height: 0;
        padding: 20px 0 0 0;
        .btn {
            padding: 10px;
        }
    }
    @media(max-width:480px){
        font-size: 55%;
        .btn {
            padding: 0;
        }
    }
}