.mailing {
    margin: 3.4rem 0 1rem;
    form {
        text-align: left;
    }
    .clear {
        display: inline-block;
    }
    .btn {
        padding: 0.8rem 2.5rem;
    }
    input.email {
        background-color: $input-bg;
        border: none;
        border-radius: 4px;
        padding-left: 10px;
        height: 2.8rem;
        width: 280px;
        color: $input-color;
    }
    #mce-responses {
        margin-top: 20px;
        #mce-success-response {
            color: $highlighted-color;
        }
        #mce-error-response {
            color: $secondary-color;
        }
    }
}

.remodal-close{
    right: 0;
    top: 0;
    left: initial;
    z-index: 3;
    &:before{
        @include font-size(35px);
    }
}
#community-download, #contact-partners{
    width: 35%;
    //@import "uniform";
    padding: 5px 15px;
    h2{
        text-align: center;
        font-size: 22px !important;
        margin-bottom: 5px !important;
    }
    h3{
        text-align: center;
        @include font-size(18px);
    }
    .mc-field-group{
        width: 100% !important;
        margin: 0 auto;
        //text-align: center;
    }
    .input-group{
        display: block;
        a{
            font-weight: 700;
            color: $base-color;
            text-decoration: underline;
            &:hover{
                color: $light-bg-color;
            }
        }
    }
    input[type="submit"] {
        background-color: $main-color;
        color: white;
        padding: 5px 40px;
        height: 100%;
        &:hover, &:focus, &:active {
            background-color: $main-color-transition;
            color: $btn-default-color;
        }
    }

    input, select{
        display: block;
        //width: 100%;
        //padding: .5rem .75rem;
        //font-size: 1rem;
        //line-height: 1.25;
        color: #464a4c;
        background-color: #fff;
        background-image: none;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15) !important;
        border-radius: .25rem;
        //@include transition(border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s);
        &:focus{
            outline: none !important;
            @include box-shadow(0 0 3px $dark-bg);
        }
    }
    input[type="checkbox"]{
        margin-right: 5px;
    }
    /*
    input[type="checkbox"]{
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        -ms-appearance: none !important;
        -o-appearance: none !important;
        appearance: none !important;
        position: relative;
        top: 7px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 25px;
        width: 25px  !important;
        transition: all 0.15s ease-out 0s;
        background: #cbd1d8;
        border: none  !important;
        color: #fff;
        cursor: pointer;
        display: inline-block  !important;
        margin-right: 0.5rem;
        outline: none;
        position: relative;
        z-index: 1000;
    }
    input[type="checkbox"]:hover{
        background: #9faab7;
    }
    input[type="checkbox"]:checked{
        background: $dark-bg;
    }
    input[type="checkbox"]:checked::before{
        height: 25px;
        width: 25px;
        position: absolute;
        content: '\f00c';
        font-family:'FontAwesome';
        display: inline-block;
        @include font-size(20px);
        text-align: center;
        line-height: 10px;
    }
    input[type="checkbox"]:checked::after{
        background: $dark-bg;
        content: '';
        display: block;
        position: relative;
        z-index: 100;
    }
    
    select{
        padding: 10px 8px !important;
        width: 100% !important;
        height: 38px !important;
    }*/
    label{
        font-weight: normal !important;
    }
    label.error{
        display: block !important;
        width: 100%;
        color: red;
        margin: 0 !important;
    }

    input.error, select.error{
        color: red;
        @include box-shadow(0 0 3px red);
    }
    #recaptcha-container{
        margin-bottom: 20px;
        .error{
            color: red;
        }
    }

}

#section-newsletter{
    .newsletter{
        background: $highlighted-color-transition;
        color: $white-color;
        padding: 40px 0;
        .row{
            margin: 0;
        }
        p{
            @include font-size(25px);
            color: $white-color;
            padding-left: 90px;
            &:before{
                content: "\e930";
                font-family: 'icomoon';
                @include font-size(70px);
                position: absolute;
                left: 20px;
                top: -18px;
            }
            span{
                display: block;
                font-weight: 700;
            }
        }
        #mc_embed_signup {
            background: none;
            position: relative;
            top: 14px;
            form {
                text-align: center;
                padding: 10px 0 10px 0;
                input.email {
                    width: 60%;
                    height: 40px;
                    border: none;
                    border-radius: 0;
                    margin-right: 10px;
                }
                #mc-embedded-subscribe {
                    background: none;
                    text-transform: uppercase;
                    font-size: 15px;
                    text-align: center;
                    width: 146px;
                    height: 40px;
                    border: 1px solid #fff;
                    border-radius: 3px;
                }
            }
        }
    }
}