
/**
* Marketplace
*/
.marketplace {
	//padding: 10px 0;
	margin-top: 100px;
	#options_consultant{
		.row{
			margin: 0;
			padding: 0 !important;
		}
		/*.col-lg-1 {
			max-width: 10%;
			@include flex(0 0 10%);
			@media (max-width: 1200px) { 
				@include flex(0 0 12%);
				max-width: 12%;
			}
		}*/

	}
	.header-market{
        padding: 10px 0;
        background-color: $btn-default-bg;
        background-image: url('../img/logo-bg.png') ;
        background-position: 80%;
        background-repeat: no-repeat;

        #market-tab{
            border: none;
            .nav-link{
                @include font-size(18px);
                font-weight: 700;
                color: $title-color;
                &:hover, &:focus, &:active{
                    color: $dark-bg-transition;
                }
                &.active{
                    //border-bottom: 4px solid $btn-secondary-dark-bd;
					text-decoration: underline;
                }
            }
        }
		#market-link{
			.nav-link{
				position: absolute;
				right: 0;
				margin: 0;
				padding: 10px 0;
                @include font-size(18px);
                font-weight: 700;
                color: $title-color;
                &:hover, &:focus, &:active{
                    text-decoration: underline;
                }
				@media(max-width: 768px) {
					position: relative;
				}
			}
		}
    }
	.row{ margin: 0; }
	.title{
		font-weight: 400;
	}

    .option-set p, #search label{
        //float: left;
        margin: 0;
        //min-width: 100px;
    }
	#filters {
		background-color: $dark-bg;
		color: $secondary-light-bg-color;
		margin-bottom: 40px;
		padding: 10px 0;
		.title{
			color: $light-bg;
			@include font-size(15px);
		}
        .intro{
            border: 1px solid $checkbox-color;
            color: $intro-color;
            @include font-size(15px);
        }
        .custom-control-description{
            color: $light-bg;
            font-weight: 200;
			margin-left: 5px;
        }
		.row{
			padding: 5px 0;
			// border-top: 1px solid $btn-secondary-light-bd;
			// &:last-child{
			// 	border-bottom: 1px solid $btn-secondary-light-bd;
			// }
		}
		.options {
			.option-set{
				ul.list-filter{
					list-style-type: none;
					padding: 0;
					margin: 0;
					li{
						display: inline-block;
                        width: 120px;
					.custom-control-indicator {
						background-color: $darken-dark-bg;
						border: 1px solid $checkbox-color;
						height: 22px;
                        width: 22px;
                        margin-top: -2px;
						@include border-radius(3px);
						background-image: none;
					}
					.custom-control-input:focus~.custom-control-indicator {
						@include box-shadow(none);
					}
					.custom-control-input:checked~.custom-control-indicator{
						&:before{
							font-family: 'FontAwesome';
							content: '\f00c';
                            width: 10px;
                            height: 10px;
							margin: -1px 3px;
							color: #ffc600;
							//background-color: $checkbox-color;
							display: block;
                            @include border-radius(2px);
						}
					}
					}
				}
			}
		}
	}
	#started{
		p{
			margin: 0;
		}
		ol{
    		padding: 0;
			margin: 0;
			counter-reset: counter-started;
			list-style-type: none;
			li{
				display: inline-block;
				margin-right: 30px;
				&:before {
					content: counter(counter-started)".";
					counter-increment: counter-started;
				}
			}
		}
	}
	#search{
		.quicksearch{
			display: initial;
			width: 250px;
			//margin-left: 20px;
			height: 32px;
			@include border-radius(2px);
			color: $checkbox-color;
			background-color: $darken-color;
			border: 1px solid $checkbox-color;
			&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
				color: $checkbox-color;
			}
			&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				color: $checkbox-color;
				opacity:  1;
			}
			&::-moz-placeholder { /* Mozilla Firefox 19+ */
				color: $checkbox-color;
				opacity:  1;
			}
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: $checkbox-color;
			}
			@media (max-width: 425px) { 
				//width: 70%;
			}
		}
	}
	.select2-container--default .select2-selection--multiple{
		height: 32px;
		@include border-radius(2px);
		color: $checkbox-color;
		background-color: $darken-color;
		border: 1px solid $checkbox-color;
	}
	.select2-selection__choice{
		margin: 2px !important;
		padding: 1px 8px !important;
		background-color: $checkbox-color !important;
		color: #ffffff !important;
		border-radius: 0 !important;
		border: none !important;

	}
	.select2-search__field{
		padding: 0 5px !important;
		&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			color: $checkbox-color;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color: $checkbox-color;
			opacity:  1;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
			color: $checkbox-color;
			opacity:  1;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: $checkbox-color;
		}
	}
	.select2-container {
		width: 250px !important;
	}
	.filtered_items {
		.item {
			//@include box-shadow(0px 0px 10px -2px rgba(0,0,0,0.5));
			//max-width: 31.3%;
			@media (max-width: 425px) { 
				max-width: 100%;
			}
			padding: 0;
    		//margin: 0 2% 4% 0;
			.img-fluid{
				height: 240px;
				width: 100%;
			}
			.carousel-control-next, .carousel-control-prev{
				width: 7%;
				opacity: 1;
				height: 20%;
				top: 40%;
				background: white;
			}
			.carousel-control-next-icon, .carousel-control-prev-icon{
				background-image: none;
				color: #000;
			}
			.carousel .carousel-control-prev, .carousel .carousel-control-next  { visibility: hidden; }
			.carousel:hover .carousel-control-prev, .carousel:hover .carousel-control-next { visibility: visible; }
			h3{
				a{
					color: #212121;
					&:hover, &:focus, &:active{
						text-decoration: underline;
					}
				}
			}
			.content {
				padding: 0 10px;
				h3 {
					text-align: left;
					@include font-size(20px);
					
				}
				.description {
					@include font-size(14px);
					min-height: 40px;
				}
				.market-links{
					margin-top: 5px;
					margin-bottom: 20px;
					a, span{
						@include font-size(13px);
					}
					.type-market{
						span{
							background-color: $checkbox-color;
							padding: 3px 5px;
							color: white;
							@include border-radius(4px);
							@include font-size(11px);
						}
					}
					.powered{
						text-align: center;
						a{
							color: $title-color;
							font-weight: 700;
						}
					}
					.get-it{
						text-align: right;
						a{
							padding: 5px;
							background: $main-color;
							@include border-radius(4px);
							color: $title-color;
  							border: 1px solid transparent;
							font-weight: 700;
							@include transition(all 0.3s ease-in-out);
							&:hover {
								background-color: white;
								color: $main-color;
								border-color: $main-color;
							}
						}

					}
					.type-market, .powered, .get-it{ 
						padding: 0;
						@media (max-width: 768px) { 
							text-align: center;
						}
					}
				}
			}
		}
	}
	
	#filtered_items_consultant{
		.item{
			@include box-shadow(none);
			height: 260px !important;
			
			@media (max-width: 991px) { 
				height: 280px !important;
			}
		}
		.prime-badge{
			background: url(../img/badge.png) no-repeat;
			height: 32px !important;
			width: 20px !important;
			z-index: 500 !important;
			float: left;
			margin: -6px 6px 0 0;
		}
		.front{
			padding: 15px 10px;
			height: 100%;
			.title{
				@include font-size(17px);
			}
			p{
				@include font-size(14px);
				color: #555555;
				line-height: 18px;
			}
			.bottom {
				position: absolute;
				bottom: 20px;
				width: 100%;
				padding: 0 40px 0 0;
				.left{
					float: left;
				}
				.right{
					float: right;
					a{
						@include font-size(14px);
						color: $base-color;
						font-weight: 700;
						text-decoration: underline;
					}
				}
			}
		}
		.logo-consultant {
			height: 100%;
			vertical-align: middle;
			width: 100%;
			text-align: center;
			img{
				width: 100%;
				@media (max-width: 991px) { 
					height: 40px;
					width: initial;
					margin-bottom: 15px;
				}
			}
		}
		.flip-container{
			perspective: 600px;
			margin: auto;
		}
		.flipcard{
			min-height: 230px;
			width: 100%;
			height: 230px;
		}
		.front, .back {
			@include box-shadow(0 0 15px rgba(0,0,0,0.3));
			width: 95%;
    		height: 90%;
		}

		/* back, initially hidden pane */
		.back {
    		padding: 15px;
			.content{
				.top{
					height: 160px;
					margin-bottom: 20px;
					h3{
						max-height: 20%;
					}
					p{
						max-height: 80%;
						overflow-y: auto;
						overflow-x: hidden;
					}
					@media (max-width: 768px) { 
						overflow-y: auto;
						h3, p{ max-height: initial; overflow: visible; }
					}
				}
				.bottom {
					height: 10%;
					bottom: 0;
				}
			}
			::-webkit-scrollbar
			{
			width: 12px;  /* for vertical scrollbars */
			height: 12px; /* for horizontal scrollbars */
			}

			::-webkit-scrollbar-track
			{
			background: rgba(0, 0, 0, 0.1);
			}

			::-webkit-scrollbar-thumb
			{
			background: rgba(0, 0, 0, 0.5);
			}
			h3{
				@include font-size(17px);
			}
			p{
				@include font-size(14px);
			}
		}
	}
}
.flag-text { margin-left: 10px; }
.flag-icon {
	width: 25px !important;
    height: 25px;
    top: -7px;
}
