#section-quotes {
    padding-left: 0;
    padding-right: 0;
    .carousel {
        margin-bottom: 50px;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 30px;
    }
    .carousel-control-next-icon {
        // change the "fill" color for "next" icon here: 
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%25fff' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
    }
    .carousel-control-prev-icon {
        // change the "fill" color for "prev" icon here:
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%25fff' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
    }
    .carousel-indicators {
        bottom: -60px;
        li {
            background-color: rgba(0,0,0,0.2);
        }
        .active {
            background-color: rgba(0,0,0,0.8);
        }
    }
    .carousel-item {
        min-height: 10rem;
    }
    .carousel-inner {
        margin: 0 auto;
        width: 80%;
    }
    .quote-container {
        border-radius: 22px;
        height: 100%;
        padding-bottom: 50px;
        position: relative;
        width: 100%;
    }
    .review-quote {
        margin: 0 auto;
        max-width: 700px;
        padding: 0 8px 0 78px;
        position: relative;
        .fa-quote-left {
            display: none;
        }
    }
    .review-img {
        position: absolute;
        @media(max-width:767px) {
            top: 0;
            left: 0;
        }
        img {
            border-radius: 100%;
            transition: all 0.3s ease 0s;
            margin-top: 20px;
            height: 50px;
            width: 50px;
        }
    }
    .review-author {
        font-size: 14px;
        position: relative;
        padding-left: 78px;
        position: absolute;
        bottom: 28px;
        left: 0;
        width: 100%;
        @media(max-width:767px) {
            line-height: 16px;
        }
        a {
            color: $base-color;
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            text-decoration: none;
            &:hover, &:focus {
                color: $main-color;
            }
        }
        small {
            color: $base-light-color;
            font-size: 85%;
            display: inline-block;
            width: 100%;
        }
    }
    @media(min-width:768px) {
        .quote-container {
            background: $white-color;
            border: 1px solid $light-bg;
        }
        .quote-container {
            padding-bottom: 80px;
        }
        .review-quote {
            padding: 20px 20px 0 50px;
            .fa-quote-left {
                color: $highlighted-color;
                display: block;
                font-size: 1.5em;
                position: absolute;
                left: 12px;
                top: 15px;
            }
        }
        .review-img {
            position: absolute;
            right: 12px;
            bottom: 10px;
            img {
                border-radius: 100%;
                transition: all 0.3s ease 0s;
                height: 60px;
                width: 60px;
                &:hover {
                    box-shadow: none;
                    transform: scale(1.05);
                }
            }
        }
        .review-author {
            background: $light-bg;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            height: 80px;
            padding: 20px 110px 20px 15px;
            bottom: 0;
            &:before {
                background: $white-color;
                content: "";
                height: 1px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
    }
}