#section-slideshow {
    -webkit-box-shadow: inset 0px -10px 23px -4px black;
    -moz-box-shadow: inset 0px -10px 23px -4px black;
    box-shadow: inset 0px -10px 23px -4px black;
    color: $white-color;
    text-align: center;
    .embed-video {
        margin-bottom: 20px;
    }
    .container {
        &, >div {
            padding: 0;
        }
    }
    .embed-video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            border: none;
            width: 100%;
            height: 100%;
        }
    }
    .carousel-indicators {
        li {
            max-width: initial;
            text-indent: initial;
            background-color: transparent;
        }
    }
    .carousel-indicators, .carousel-item-next, .carousel-item-prev, .carousel-item.active, .carousel-caption {
        display: block;
    }
    .carousel-indicators, .carousel-caption {
        position: static;
    }
    .carousel-caption {
        padding: 0;
    }
    .carousel-control-prev {
        left: -100px;
    }
    .carousel-control-next {
        right: -100px;
    }
    .carousel-inner {
        margin-bottom: 0px;
    }
    @media (max-width:768px) {
        h3 {
            font-size: 80%;
        }
        .carousel-control-prev, .carousel-control-next {
            display: none;
        }
    }
    a {
        color: $white-color;
        text-decoration: none;
        &:hover {
            color: $highlighted-bg;
        }
    }
    h1 {
        font-size: 30px;
        color: $white-color;
        font-weight: 700;
        margin-top: -20px;
    }
    .caption {
        font-family: 'MyriadProSemibold';
        font-size: 1.7rem;
        padding: 30px 0 0 0;
        @media(max-width:640px) {
            font-size: 1rem;
        }
    }
    ol {
        margin: auto;
        font-size: 1.2rem;
        height: 50px;
        li {
            width: auto;
            height: auto;
            margin: 15px 0 15px 0;
            display: inline-block;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;
            span {
                font-weight: 400;
                padding: .4em .8em .5em;
                border: 1px solid transparent;
                border-radius: .25em;
                color: $white-color;
                white-space: nowrap;
                vertical-align: baseline;
                i.fa {
                    padding: 0 3px 0 3px;
                }
                &:hover {
                    color: $highlighted-bg;
                }
            }
            &.active span {
                border: 1px solid $highlighted-color;
                color: $white-color;
            }
        }
        @media (max-width:480px) {
            height: 75px;
            li {
                font-size: 70%;
                margin: 0;
                margin-bottom: 14px;
                span {
                    padding: .2em .4em .2em;
                }
            }
        }
        @media (max-width:768px) {
            height: 80px;
        }
        @media (max-width:992px) {
            li {
                font-size: 80%;
                margin: 0 2px;
                margin-bottom: 10px;
                span {
                    padding: .3em .5em .3em;
                }
            }
        }
        li.secondary {
            span {
                font-weight: 100;
                &:hover {
                    background-color: none;
                }
            }
        }
    }
}