.whitepaper {
    .feature{
        h2{
            display: block;
            font-family: "MyriadProSemibold";
            font-size: 44px;
            line-height: 1.4;
            margin-bottom: 40px;
            padding-top: 30px;
            text-align: center;
            span {
                display: block;
                font-family: "Roboto",sans-serif;
                font-size: 18px;
                font-size: 18px;
                font-weight: 100;
                text-transform: uppercase;
            }
        }
        .icon{
            border-radius: 50%;
            background-color: #f0f4f7;
            padding: 10px;
            width: 100%;
            img{
                width: 100%;
            }
        }
        .col-md-2 {
            padding: 0;
        }
    }
    .intro-white{
        background: #f0f4f7;
        padding: 30px;
        h2{
            font-size: 37px;
            margin-bottom: 40px;
            font-family: 'MyriadProSemibold';
            padding-top: 30px;
        }
        h3 {
            font-size: 18px;
            font-weight: normal;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
             li {
                padding-left: 1em;
                text-indent: -.7em;
            }
        }
    }
}