<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLJTRHS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="announcement">
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar-left col-lg-2 col-md-3 col-sm-12">
                {% include get-started/search.html %}
            </div>
            <div class="sidebar-rigth col-lg-6 col-md-6 col-sm-12">
                {% include get-started/announcement.html %}
            </div>
            <div class="sidebar-rigth col-lg-2 col-md-3 col-sm-12">
                TEst
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 page">
            
            {% include get-started/nav.html %}             
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <section id="{{ page.id }}">
                <div id="chapter">
                    <span>{{ chapter_title }}</span>
                </div>
                {{ content }}
            </section>
        </div>
        <div data-spy="scroll" data-target=".navbar " class="col-lg-2 col-md-12 col-sm-12 page">
            <nav class="navbar social-media">
                <div class="scroll">
                    {% include get-started/subnav.html %}
                    {% include get-started/mailing.html %}
                </div>
            </nav>
        </div>
        <footer class="clear-all">
            {% include get-started/footer.html %}
        </footer>
    </div>
</div>
{% include get-started/sync_scripts.html %}
