<div class="row">
    <div class="feedback hidden">
        <p class="hidden feedback-message"></p>
        <form class="form-horizontal" method="post" action="https://backoffice.wakanda.io/api/feedback/value">
            <input type="hidden" name="type" value="0">
            <div class="form-group first-question-container">
                <label class="label-control label-inline-item">Was this article helpful ?
                </label>
                <div class="form-inline-item">
                    <div class="radio">
                        <label>
                            <input type="radio" name="xER69hsN" class="first-question" id="xER69hsN-0" value="Yes"
                            "required">Yes</label>
                    </div>
                </div>
                <div class="form-inline-item">
                    <div class="radio">
                        <label>
                            <input type="radio" name="xER69hsN" class="first-question" id="xER69hsN-1" value="No"
                            "required">No</label>
                    </div>
                </div>
            </div>
            <div class="second-question hidden">
                <div class="form-group" style="margin-bottom: 20px;">
                    <p class="description" style="margin-bottom: 15px;">Sorry about that</p>
                    <label for="" class="label-control label-inline-item">What were you looking for ?</label>
                    <textarea row="4" class="form-control"  style="width: 350px; margin: 0 auto;"
                    name="7Z29ALZk" id="7Z29ALZk"></textarea>
                </div>
                <input type="submit" value="Send" class="btn btn-success hidden">
            </div>
        </form>
        
    </div>
</div>