<div class="row">
    <div class="feedback">
        <p class="hidden feedback-message"></p>
        <form class="form-horizontal" method="post" action="https://backoffice.wakanda.io/api/feedback/value">
            <input type="hidden" name="type" value="0">
            <div class="form-group">
                <label class="label-control label-inline-item">Do you think this page is helpful ? <span class="bowak-asterisk">*</span>
                </label>
                <div class="form-inline-item">
                    <div class="radio">
                        <label>
                            <input type="radio" name="9L9UXSy2" class="first-question" id="9L9UXSy2-0" value="Yes"
                            "required">Yes</label>
                    </div>
                </div>
                <div class="form-inline-item">
                    <div class="radio">
                        <label>
                            <input type="radio" name="9L9UXSy2" class="first-question" id="9L9UXSy2-1" value="No"
                            "required">No</label>
                    </div>
                </div>
            </div>
            <div class="form-group  second-question hidden">
                <label for="" class="label-control label-inline-item">Why not ?</label>

                <div class="form-inline-item">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="mepNDf6p" id="mepNDf6p-0" value="Content isn't clear">Content isn't clear</label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="mepNDf6p" id="mepNDf6p-1" value="Didn't understand">Didn't understand</label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="mepNDf6p" id="mepNDf6p-2" value="Don't love it">Don't love it</label>
                    </div>
                </div>
            </div>
            <input type="submit" value="Send" class="btn btn-success hidden">
        </form>
        
    </div>
</div>