<div class="io-header-container">
    <div class="container-fluid">
        <nav class="main-nav io-header" role="navigation">
            <div class="row">
            <div class="container">
                <a class="logo" href="/">
                    <img src="/img/logo/wakanda-full-light-bg.png">
                </a>
                <ul>
                    {% for item in site.data.menu.items %}
                    <li class="hidden-sm-down {% if item.highlighted %}highlighted-item{% endif %}" {% if page.url contains item.url %} class="active" {% endif %}>
                        <a class="{{ item.class }} {% if page.url == item.url %} menu-active {% endif %}" href="{{ item.url }}" {% if item.target %} target="{{ item.target }}" {% endif %}>{{ item.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            </div>
        </nav>
    </div>
    <nav id="mobile-nav" class="mobile-main-nav io-header-mobile" role="navigation">
        <div>
            <a class="logo" href="">
                <img src="/img/logo/wakanda-full-light-bg.png">
            </a>
            <a href="#close" class="close-main-nav">×</a>
        </div>
        <ul>

            <li class="active">
                <a href="/get-started/">Get started</a>
            </li>
            <li>
                <a href="/what-we-do.html">What we do</a>
            </li>
            
            <li>
                <a href="//wakanda.github.io/doc" target="_blank">Documentation</a>
            </li>

            <li>
                <a href="/marketplace.html">Partners</a>
            </li>

            <li>
                <a href="https://blog.wakanda.io" target="_blank">Blog</a>
            </li>

            <li class="highlighted-item">
                <a href="https://console.wakanda.io">Sign in</a>
            </li>

        </ul>
    </nav>
</div>