<div class="io-header-container">
    <div class="container-fluid">
        <nav class="main-nav io-header" role="navigation">
            <div class="row">
            <div class="container">
                <a class="logo" href="/">
                    <img src="/img/logo/wakanda-full-light-bg.png">
                </a>
                <ul>
                    {% for item in site.data.menu.items %}
                    <li class="hidden-sm-down {% if item.highlighted %}highlighted-item{% endif %} {% if item.subdomain %} nav-item dropdown {% endif %} {% if page.url contains item.url or page.url contains item.title  %} active {% endif %}">
                        <a class="{{ item.class }} {% if page.url == item.url or page.url contains item.title %} menu-active {% endif %} {% if item.subdomain %} nav-link dropdown-toggle {% endif %}" href="{{ item.url }}" {% if item.target %} target="{{ item.target }}" {% endif %}  {% if item.subdomain %} id="navbarDropdown-{{forloop.index}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% endif %}>{{ item.title }}</a>
                        {% if item.subdomain %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown-{{forloop.index}}">
                            {% for subitem in item.subdomain %}
                            <a class="dropdown-item {% if page.url == subitem.url %} menu-active {% endif %} " href="{{ subitem.url }}">{{ subitem.title }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            </div>
        </nav>
    </div>
    <nav id="mobile-nav" class="mobile-main-nav io-header-mobile" role="navigation">
        <div>
            <a class="logo" href="">
                <img src="/img/logo/wakanda-full-light-bg.png">
            </a>
            <a href="#close" class="close-main-nav">×</a>
        </div>
        <ul>

            <li class="active">
                <a href="/get-started/">Get started</a>
            </li>
            <li>
                <a href="/what-we-do.html">What we do</a>
            </li>
            
            <li>
                <a href="//wakanda.github.io/doc" target="_blank">Documentation</a>
            </li>

            <li>
                <a href="/marketplace.html">Partners</a>
            </li>

            <li>
                <a href="https://blog.wakanda.io" target="_blank">Blog</a>
            </li>

            <li class="highlighted-item">
                <a href="https://console.wakanda.io">Sign in</a>
            </li>

        </ul>
    </nav>
</div>