<nav class="navbar navbar-toggleable-md navbar-light bg-faded main-nav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <header class="navbar-brand" >
        <a href="index.html" class="logo">Getting Started</a>
    </header>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% for version in site.data.get_started.menu %}
            {% if version.version == page.version %}
                {% for entry in version.entries %}
                    {% for node in entry.pages %}
                        {% if page.url contains node.url %}
                            {% assign chapter_title = entry.title %}
                        {% endif %}
                        {% if page.url == '/' %}
                            {% assign chapter_title = '' %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <ul class="nav-list row">
            
            {% for version in site.data.get_started.menu %}
                {% if version.version == page.version %}
                    {% for entry in version.entries %}
                    <li class="nav-group col-lg-12 col-md-4 menu-expanded {% if chapter_title == entry.title %} parentActive {% endif %}">
                        <a>
                            {{ entry.title }}
                        </a>
                        <ul class="aside-nav {{ entry.class }} menu" style="display: none;">
                            {% for node in entry.pages %}
                            <li {% if page.url contains node.url %} class="active" {% endif %}>
                                <a href="{{ node.url }}" target="{{ node.target }}">{{ node.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="download">
        <a href="#" class="btn btn-lg btn-default btn-dl download-version">
            Download Wakanda
        </a>
    </div>
</nav>