---
id: app-price-calculator
layout: page
title: App Price Calculator
top_title: true
show_chat: true
description: Code, Build and Deploy in Production your Web and Mobile Apps for Free.
keywords: Community, Open Source, Enterprise, Business, Pricing, Professional Service, Develop, Support, Help, Demo
css:
  - css/lib/remodal.css
  - css/lib/remodal-default-theme.css
scripts:
  - js/remodal.min.js
  - js/lib/jquery-validate/jquery.validate.js
  - https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit
---

<div class="what-we-do">
        <section class="price">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>App Price Calculator</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="price bg-faded">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% include google-form/wakanda-app.html %}
                    </div>
                </div>
            </div>
        </section>
</div>


{% include download-enterprise-modal.html %}
