---
id: build-with-our-team
layout: business
title: Build with our Team
show_chat: true
css:
  - css/lib/remodal.css
  - css/lib/remodal-default-theme.css
scripts:
  - js/remodal.min.js
  - js/lib/jquery-validate/jquery.validate.js
  #- js/lib/jquery.uniform.js
  - https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit
---
  <section id="section-headline" class="module parallax parallax-bg-1" style="background-image:url('img/business/HeaderBg.png');">
    <div class="section-wrapper-parallax bg-overlay bg-overlay-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-6">
            <h1>Build<br/>with our Team</h1>
            <div class="h2">
                We develop <span>high-quality, data-intensive,</span><br/> mobile and web apps to the world.
            </div>
          </div>
        </div>
      </div>
    </div>
</section>



<section id="section-content">
  <div  id="world-app">
    <div class="container">
        <div class="justify-content-md-center">
            <div class="row top-block">
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <div class="text-block">
                      <h2>In the App world (mobile and web), it is vital to <b>test your idea</b> as soon as possible.</h2>
                      <p>
                        At Wakanda, we deeply understand that time to Market is your first 
                        advantage. 
                      </p>
                  </div>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-6">
                  <div class="image-block">
                    <img src="/img/business/Image@2x.png" alt="Computer & Watch">
                  </div>
                </div>
              </div>
              <div class="row bottom-block">
                <div class="col-md-6">
                  <div class="text-block">
                      <p>
                        The Wakanda team will architecture and 
                        develop your <b>Minimal Value Product (MVP)</b>
                        in record times.
                      </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="text-block">
                      <p>            
                          We will also prepare your 
                          future with a scalable architecture that will 
                          take care of your <b>growth and security.</b>   
                        </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="button-block">
                        <a href="#about-minimize" class="btn btn-gray scroll-to">Tell me more</a>
                        <a href="#request-demo" class="btn btn-orange">I’m ready, let’s chat</a>
                    </div>
                </div>
              </div>
        </div>
    </div>
  </div>
  <div id="about-minimize">
    <div class="container">
      <div class="justify-content-md-center">
        <div class="row">
          <div class="col-md-5">
            <div class="image-block">
              <img src="/img/business/Like.png" alt="Like">
            </div>
          </div>
          <div class="col-md-7">
            <div class="text-block">
              <h2>
                How about minimize costs with automated tests and 
                high-quality deliverables ? <b>We have it.</b> 
              </h2>
              <p>
                Wakanda has the professional team, the
                history, top 500 clients and,  the mobile and web 
                knowledge to develop and maintain your 
                project through the years to come.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="button-block">
                  <a href="#client" class="btn btn-gray scroll-to">Tell me more</a>
                  <a href="#request-demo" class="btn btn-orange">I’m ready, let’s chat</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="client">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Our Customers</h2>
          <div class="owl-carousel" data-count="7">
            {% for item in site.data.content.clients %}
              <div class="item">
                <div class="client-logo">
                  <img src="/img/marketplace/consultant/{{ item.logo }}" alt="{{ item.nom }}">
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="button-block">
                  <a href="#stats" class="btn btn-gray scroll-to">Tell me more</a>
                  <a href="#request-demo" class="btn btn-orange">I’m ready, let’s chat</a>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div id="stats" style="background-image:url('img/business/BackgroundPhoto.png');">
    <div class="container">
      <div class="justify-content-md-center">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="content">
              <div class="row">
                <div class="text-block">
                    <p>Over <b>30 years</b> developing software</p>
                    <i class="fa fa-circle"></i>
                    <p>More than <b>6000 clients</b></p>
                    <i class="fa fa-circle"></i>
                    <p><b>Excellence</b> in services</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="button-block">
                        <a href="#believe-data" class="btn btn-gray scroll-to">Tell me more</a>
                        <a href="#request-demo" class="btn btn-orange">I’m ready, let’s chat</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="believe-data">
    <div class="container">
      <div class="justify-content-md-center">
        <div class="row title-flottant">
          <h2>We believe <b>Data is knowledge.</b></h2>
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="image-block">
                <img src="/img/business/dataIsKnowledge@2x.png" alt="Data is knowledge">
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="text-block">
                    <p>
                        Today, data is coming from everywhere.
                      </p>
                      <p> 
                      Your clients will bring to your system tons of data that will need to be integrated into databases, APIs, legacy systems, 3rd 
                      party companies. 
                      </p>
                      <p> We have the <strong>cutting-edge
                      platform to  transform data into<br/>
                      business</strong> for your company.  
                    </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="button-block">
                        <a href="#our-proposal" class="btn btn-gray scroll-to">Tell me more</a>
                        <a href="#request-demo" class="btn btn-orange">I’m ready, let’s chat</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div id="our-proposal">
    <div class="container">
      <div class="justify-content-md-center">
        <div class="row">
          <div class="col-md-12">
            <h2>Here’s our proposal</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="content">
              <div class="row">
                <div class="text-block">
                  <i class="fa fa-circle"></i>
                  <p><b>Let's discuss</b> your idea and add the current best innovations from mobile and web App development;</p>
                  <i class="fa fa-circle"></i>
                  <p><b>Let's design</b> how users will have the best App experience;</p>
                  <i class="fa fa-circle"></i>                  
                  <p><b>Let's build</b> your MVP (beta) for free and in less than 1 week, so you have already something to show to your investors</p>
                  <i class="fa fa-circle"></i>
                  <h3>Let's talk!</h3>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="start-app" style="background-image:url('img/business/BackgroundPhoto.png');">
    <div class="container">
      <div class="justify-content-md-center">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="button-block">
                            <a href="#request-demo" class="btn btn-orange">Start your app</a>
                        </div>
                    </div>
                  </div>
              <div class="row">
                <div class="text-block">
                    <p>Booking takes less than 1 minute:</p>
                    <p>choose the date and time of your convenience and you’re done!</p>
                    <p class="bottom-paragraph">We have English, Portuguese, Spanish, Italian, Chinese options.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
{% include request-demo-modal.html %}




