---
id: pricing
layout: page
title: What we do
top_title: true
show_chat: true
description: Code, Build and Deploy in Production your Web and Mobile Apps for Free.
keywords: Community, Open Source, Enterprise, Business, Pricing, Professional Service, Develop, Support, Help, Demo

css:
  - css/lib/remodal.css
  - css/lib/remodal-default-theme.css
scripts:
  - js/remodal.min.js
  - js/lib/jquery-validate/jquery.validate.js
  - https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit
---
<div class="what-we-do">
    <section id="were-lazy">
        <div class="container">
            <div class="row">
                <h2 class="title">Meet your new team<br/>from Design to Production</h2>
            </div>
            <div class="row">
                <div class="col-md-4 item">
                    <div class="img-container">
                        <span class="icon-wakanda icon-5x"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                    </div>
                    <p><h3>We develop with <br>best technologies</h3></p>

                </div>
                <div class="col-md-4 item">
                    <div class="img-container">
                        <span class="icon-badge icon-5x"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                    </div>
                    <p><h3>We provide Support<br/>  for your projects</h3></p>

                </div>
                <div class="col-md-4 item">
                    <div class="img-container">
                        <span class="icon-logic-o icon-5x"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                    </div>
                    <p><h3>We develop Apps <br/> for more than 6000 clients</h3></p>
                    
                </div>
            </div>
        </div>
    </section>
    <section id="server-studio" class="bg-faded">
        <div class="container">
 
            <div class="row">
                <div class="col-md-6 studio">
                    <div class="block-comp">
                        <div class="comp-head">
                            <img src="img/studioLogo_2x.png" alt="Wakanda Studio" class="logo-pack">
                            <h3>If you are...</h3>
                        </div>
                        <ul class="features">
                            <li>
                                <span><h4>Entrepreneur</h4></span>
                            </li>
                            <li>
                                <span><h4>Manager</h4></span>
                            </li>
                            <li>
                                <span><h4>Marketing</h4></span>
                            </li>
                            <li>
                                <span><h4>Software Developer</h4></span>
                            </li>
                            <li>
                                <span><h4>Software Architect</h4></span>
                            </li>
                            <li>
                                <span><h4>DevOps</h4></span>
                            </li>
                            <li>
                                <span><h4>DBA</h4></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 server">
                    <div class="block-comp">
                        <div class="comp-head">
                            <img src="img/serverLogo_2x.png" alt="Wakanda Server" class="logo-pack">
                            <h3>...use Wakanda to: </h3>

                        </div>
                        <ul class="features">
                            <li>
                              <span><h4>launch your Startup</h4></span>
                            </li>
                            <li>
                              <span><h4>develop mobile and web projects for your companies</h4></span>
                            </li>
                            <li>
                              <span><h4>create target Apps for events, marketing  campaigns, product launch… </h4></span>
                            </li>
                            <li>
                              <span><h4>deliver Apps to your market (faster than traditional IT departments)</h4></span>
                            </li>
                            <li>
                              <span><h4>build rich data-driven applications for mobile and  Web</h4></span>
                            </li>
                            <li>
                              <span><h4>develop and prototype Minimal Value Products in record times</h4></span>
                            </li>
                            <li>
                              <span><h4>create sophisticated user-driven apps </h4></span>
                            </li>
                            <li>
                              <span><h4>integrate legacy data and 3rd party APIs into a standard restful API </h4></span>
                            </li>
                            <li>
                              <span><h4>learn and implement the best practices and frameworks for mobile and web development</h4></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <div class="banniere">
        <div class="container">
            <div class="content">
                <p>Nothing beats a live conversation!</p>
                <a href="#request-demo" class="btn btn-blue">Book your slot now</a>

            </div>
        </div>
    </div>
    <section id="pro-service">
        <div class="container">
            <div class="row">
                <div class="col-md-12 title">
                    <h3>Wakanda ecosystem for fast-paced MVP services</h3>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <div class="block-comp">
                        <div class="comp-head">
                            <h4>Professional Services to develop your Apps</h4>
                            <p>Powered by Wakanda Services</p>
                        </div>
                        <ul class="features">
                            <li>End to End experts extended by trained partners WorldWide</li>
                            <li>Your MVP in weeks not months</li>
                            <li>Full access to Wakanda Core Team</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footer-section">
                <div class="col-md-12">
                    <a href="http://wakanda.us12.list-manage.com/subscribe?u=f0f5ce5be3ec91715eb87cf9c&id=6492e5a48a" class="btn btn-base-blue">Submit your App Project</a>
                </div>

            </div>
        </div>
    </section>
</div>


{% include community-mailchimp.html %}

{% include request-demo-modal.html %}
