body{
    width: 100%;
    overflow-x: hidden;
}
#get-started-studio{
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    #top{
        min-height: 49.9%;
        .content{
                text-align: center;
                padding: 100px;
                img {
                    width: 113px;
                }
                h1{
                    font-weight: 400;
                    @include font-size(28px);
                    margin: 20px;
                }
                a.btn{
                    font-weight: bold;
                    background-color: $main-color !important;
                    padding: 15px 50px !important;
                    margin-top: 40px !important;
                    font-size: 27px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    &:hover{
                        background-color: $square-desc !important;
                    }
                }
                a.btn-orange{
                    background-color: $orange !important;
                }
        }
    }
    #bottom{
        min-height: 49.9%;
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            img{
                max-width: 15px;
                margin-right: 4px;
            }
        }
        .content{
            text-align: center;
            padding: 50px;
            background-color: $base-color;
            #top-content{
                p{
                    color: #96B5DC;
                    @include font-size(16px);
                    font-weight: 400;
                    margin-bottom: 10px;
                }
                img{
                    margin-right: 10px;
                }
                li {
                    margin-bottom: 10px;
                    a {
                        width: 170px;
                        text-align: left;
                        display: inline-block;
                        color: #fff;
                    }
                    
                }
            }
            #bottom-content {
                position: absolute;
                width: 100%;
                bottom: 20px;
                li{
                    display: inline-block;
                    margin-right: 70px;
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
}

.new-get-started{
    h1, h3, h2{
        max-width: 100%;
        margin: 20px 0 40px 0 !important;
    }
    #header{
        text-align: center;
        margin-bottom: 40px;
        h1{
            @include font-size(52px);
            font-weight: bold;
            line-height: 1.27;
            margin-top: -30px !important;
            padding: 0;
            color: #393939;
            border: none;
        }
        p{
            @include font-size(28px);
            line-height: 1.25;
        }
    }
    #content{
        box-shadow: 0 1px 0 0 #cdcdcd, 0 -1px 0 0 #cdcdcd;
        padding: 30px 0;
        .item{
            text-align: center;
            .img-container{
                display: block;
                margin: 10px auto;
                width: 120px;
                height: 120px;
            }
            img{
                width: 100%;
                height: 100%;
            }
            small{
                display: block;
                margin: 0 auto;
                @include font-size(14px);
                color: #434343;
            }
            h2{
                margin: 0 !important;
                @include font-size(18px);
            }
            a{
                background-color: $lighten-green !important;
                padding: 10px 30px !important;
                @include font-size(14px);
                font-weight: bold;
                margin: 20px 0 0 0 !important;
                &:focus, &:active, &:hover{
                    background-color: #00D5AC !important;
                }
            }
        }
        .no-small h2{
            margin-top: 30px !important;
        }
    }
    #down-section{
        padding: 40px 0;
        text-align: center;
        h2{
            @include font-size(18px);
            line-height: 1.94;
            text-align: center;
            color: #555555;
            font-weight: normal;
        }
        a{
            color: #212121;
            text-decoration: none;
            &:hover, &:focus, &:active{
                color: #212121;
                text-decoration: none;
                span{
                    text-decoration: underline;
                }
            }
        }
        i, span{
            display: inline-block;
            vertical-align: middle;
        }
        span{
            @include font-size(14px);
            line-height: 2.5;
            margin-left: 5px;
        }
    }
}

.banniere{
    background-color: $dark-bg;
    .content{
        padding: 40px 0;
        text-align: center;
        p{
            font-family: Roboto;
            font-size: 44px;
            font-weight: bold;
            line-height: 1.36;
            color: #859BB7;
        }
        .btn-blue{
            padding: 15px 30px;
            font-family: Roboto;
            font-size: 20px;
            font-weight: bold;
        }
        .btn-blue {
            background-color: #859BB7 !important;
            color: white !important;
            &:hover, &:focus, &:active {
                background-color: #94b8e5 !important;
                color: #fff !important;
            }
        }
    }
}
.banniere-info{
    font-size: 16px;
    color: #000;
}