/*** START WAKANDA.IO SITE ***/

$btn-vav-color: #253039;
$main-color: #FFC600;
$base-color: #212121;
$highlighted-item-mobile: #1d2229;
$dark-bg: #232A33;
$white-color: white;
$dark-bg: #232A33;
$light-bg: #f0f4f7;
$base-light-color: #9ab3c5;
$dark-bg-transition: #363f4b;
$orange: #EC5C09;

/*** END WAKANDA.IO SITE ***/



$title: #0C1010;
$sub-title: #6F6568;
$menu-link: #555555;

$square-title: #212121;
$square-desc : #555555;
$square-desc-lighten: #878787;
$base-green: #4ab19d;
$lighten-green: #2EBCA1;

$navigation-btn: #232a33;
$navigation-btn-bg: #ffc600;
$navigation-btn-bg-hover: #FFD130;

$light-green: #00d5ac;
$darken-green: #10ab8d;
$light-green-lighten: #C8F8EF;

$square-bg: #fafafa;
$square-bg-darken: #f3f3f3;