#section-feature-highlights {
	img {
		max-height: 40px;
		margin-bottom: 20px;
	}
}
#section-feature-details {
    font-size: 85%;
    h3 {
        margin-bottom: 40px;
    }
    h4 {
        text-align: left;
    }
    p {
        text-align: justify;
    }
    img.highlight {
        margin-top: 30px;
    }
    .col-md-6 {
        padding: 50px 60px;
        @media(max-width:940px) {
            & {
                padding: 20px 10px 20px 30px;
            }
        }
        &:nth-child(2) {
            background-color: $light-bg;
        }
    }
    .feature-block {
        position: relative;
        img {
            width: 70px;
            position: absolute;
            left: -10px;
            top: -10px;
        }
        h4 {
            margin-top: 20px;
            margin-bottom: 3px;
        }
        h4, p {
            padding-left: 70px;
            padding-right: 60px;
        }

				p {
						margin-bottom: 3px;
				}
        @media(max-width:767px) {
            p {
                padding-right: 20px;
								margin-bottom: 3px;
            }
        }
    }
}
