a {
    color: $link-color;
    transition: all 200ms linear 0s;
    &:hover,
    &:focus,
    &:active{
        color: $link-hover-color;
        text-decoration: none;
    }
}
strong {
    font-weight: 500;
}
h1, h2 {
    color: $base-color;
    font-family: 'MyriadProSemibold';
}
h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    @media(max-width:640px) {
        font-size: 2rem;
    }
}
h2 {
    font-size: 2.8rem;
    margin-bottom: 40px;
    @media(max-width:640px) {
        font-size: 1.8rem;
    }
    &.with-legend {
        margin-bottom: 0;
    }
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}
p.title-legend {
    padding: 0;
    margin-bottom: 40px;
    line-height: 25px;
    font-size: 80%;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    &, a {
        color: $base-light-color;
    }
    a {
        text-decoration: underline;
    }
}
.btn{
    cursor: pointer;
}
.logo {
    max-width: 200px;
}
.highlighted {
    color: $highlighted-color-transition;
}