<!-- Begin MailChimp Signup Form -->
<style type="text/css">
    #mc_embed_signup {
        background: #fff;
        clear: left;
        font: 14px Helvetica, Arial, sans-serif;
    }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>



<div class="remodal" data-remodal-id="download-entreprise" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" id="community-download">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="content">
        <div id="mc_embed_signup">
            <form action="//wakanda.us12.list-manage.com/subscribe/post?u=f0f5ce5be3ec91715eb87cf9c&amp;id=fcf7151a64" method="post" id="form-download-entreprise" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <h2>Entreprise Edition : 30 days trial</h2>
                    <h3>Latest version</h3>
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group">
                        <label for="mce-OS">Select your OS </label>
                        <select name="OS" class="" id="mce-OS">
                            <option data-detected="win32" value="Windows 32 bits">Windows 32 bits</option>
                            <option data-detected="win64" value="Windows 64 bits">Windows 64 bits</option>
                            <option data-detected="macOS" value="Mac">Mac</option>
                            <option data-detected="linux32" value="Linux 32bits (Server Only)">Linux 32bits (Server Only)</option>
                            <option data-detected="linux64" value="Linux 64bits (Server Only)">Linux 64bits (Server Only)</option>
                        </select>
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email  <span class="asterisk">*</span></label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-FNAME">First Name  <span class="asterisk">*</span></label>
                        <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-LNAME">Last Name  <span class="asterisk">*</span></label>
                        <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-PHONE">Phone </label>
                        <input type="text" name="PHONE" class="" value="" id="mce-PHONE">
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-COMPANY">Company</label>
                        <input type="text" value="" name="COMPANY" class="" id="mce-COMPANY">
                    </div>
                    <div class="mc-field-group input-group">
                        <input type="checkbox" value="1" name="group[4701][1]" id="mce-group[4701]-4701-0" class="required">
                        <label for="mce-group[4701]-4701-0">I agree to the <a href="//www.wakanda.io/acceptable-use-policy-aup" target="_blank">Subscription Agreement</a></label>
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <div id="recaptcha-container">
                        <div class="g-recaptcha" data-sitekey="6Ld-KhcUAAAAACtJjfu--O3TtbfDkwmyRGs2KpT7"></div>
                        <div class="error hidden">This field is required</div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f0f5ce5be3ec91715eb87cf9c_fcf7151a64" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Download" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
                </form>
                <a href="" id="download-community" style="display: none;" download>Download</a>
        </div>
    </div>
    <br>
</div>

<!--End mc_embed_signup-->