<div class="container container-accordion">
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Platform
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
  				<h3 class="hidden-sm-down">Platform</h3>
          <ul>
            <li><a href="wakanda-platform#studio">Studio</a></li>
            <li><a href="wakanda-platform#backend">Backend</a></li>
            <li><a href="/wakanda-platform#admin">Administration</a></li>
            <li><a href="index.html">Get Started</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Support
          </a>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-block">
  				<h3 class="hidden-sm-down">Support</h3>
          <ul>
  				  <li><a href="https://support.wakanda.io/">Ticketing</a></li>
  				  <li><a href="http://stackoverflow.com/questions/tagged/wakanda">Stack Overflow</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingFour">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Company
          </a>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="card-block">
  				<h3 class="hidden-sm-down">Company</h3>
          <ul>
  				  <li><a href="/about-wakanda">Our Story</a></li>
  				  <li><a href="/about-wakanda">Team</a></li>
  				  <li><a href="http://blog.wakanda.io">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingFive">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Legal
          </a>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="card-block">
  				<h3 class="hidden-sm-down">Legal</h3>
          <ul>
  				  <li><a href="/license">License</a></li>
  				  <li><a href="/legal-notice">Legal Notice</a></li>
  				  <li><a href="/acceptable-use-policy-aup">AUP</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Member of
          </a>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <h3 class="hidden-sm-down">Member of</h3>
          <ul>
            <li>
              <a href="http://www.francedigitale.org/" target="_blank">France Digitale</a>
            </li>
            <li>
              <a href="http://www.lafrenchtech.com/" target="_blank ">La French Tech</a>
            </li>
            <li>
              <a href="https://www.ow2.org" target="_blank ">OW2</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="secondary-footer">
  <div class="container">
    <div class="footer-logo">
      <a href="">
        <img class="img-fluid" src="img/logo/wakandaio_pic.png" alt="Wakanda Logo"/>
      </a>
    </div>
    <ul class="footer-social-links">
      <li>
        <a href="https://blog.wakanda.io/?_ga=1.248519943.1654117092.1480425928">
          <span class="fa fa-rss"></span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/wakandasoft">
          <span class="fa fa-twitter"></span>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/wakandasoft">
          <span class="fa fa-facebook"></span>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UC1I5--suuO34nD5gDoK_IAw">
          <span class="fa fa-youtube"></span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/wakanda">
          <span class="fa fa-linkedin"></span>
        </a>
      </li>
    </ul>
  </div>
</div>