<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% seo %}
<link rel="shortcut icon" href="/img/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="canonical" href="http://www.wakanda.io/">
<link rel="shortlink" href="http://www.wakanda.io/">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="Javascript, mobile applications, Apps, iOS, Android, Windows phone, mobile, develop, code, make Apps, Open Source, full-stack, frontend developer, developer, Angular, Ionic, Cordova">
<meta property="og:site_name" content="FullStack JavaScript Platform">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.wakanda.io/">
<meta property="og:title" content="FullStack JavaScript Platform">
<meta property="og:description" content="Develop &amp; Run Web &amp; Mobile Apps">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,300,500,500italic,700,700italic" rel="stylesheet" />
{% css main %}
{% include olark.html %}
{% include tag_manager_head.html %}