<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% seo %}
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% endif %}
<link rel="shortcut icon" href="/img/favicon.ico" type="image/vnd.microsoft.icon">
<meta name="viewport" content="width=device-width">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,300,500,500italic,700,700italic?{{site.assets_static_version}}" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css?{{site.assets_static_version}}" />
{% if page.show_chat %}
{% include olark.html %}
{% endif %}
{% include tag_manager_head.html %}
  <link rel="stylesheet" href="/css/main.css?{{ site.time | date: '%s%N' }}">
