{% include tag_manager_head.html %}
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% include seo.html %}
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% endif %}
<link rel="shortcut icon" href="/img/favicon.ico" type="image/vnd.microsoft.icon">
<meta name="viewport" content="width=device-width">
<meta name="msvalidate.01" content="91CA043638C837FA820A8BB6C765DBF0" />
<meta name="google-site-verification" content="Q0W9VzjOURpBVfFhIbFXylUfNoX4nF_UCuTgTrujIK0" />
{% if page.show_chat %}
{% include olark.html %}
{% endif %}
  <link rel="stylesheet" href="/css/main.css?{{ site.time | date: '%s%N' }}">
