{% js main %}
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "position": "top",
  "static": true,
  "content": {
    "message": "Click I Agree to accept cookies and go directly to the site or click on More Information to see detailed descriptions of the types of cookies and choose whether to accept certain cookies while on the site.",
    "dismiss": "I agree",
    "link": "More info",
    "href": "http://wakanda.io/acceptable-use-policy-aup"
  },
  onStatusChange: function(status) {
  },
  onPopupOpen: function() {
      $('.fixed-top').css('top', 70);

  },
  onPopupClose: function() {
      $('.fixed-top').css('top', 0);

  }
})});
</script>