
@import "partials/get-started/lib/bootstrap.min.scss";
@import "partials/base";

@font-face{
  font-family: 'MyriadProSemibold';
  src: url("../font/MyriadProSemibold.eot");
  src: local("MyriadProSemibold"),
       url("../font/MyriadProSemibold.woff") format("woff"),
       url("../font/MyriadProSemibold.ttf") format("truetype");
}
html{
    min-height: 100%;
}
body{
    color: $base-color;
    font-family: 'Roboto', sans-serif;
    background-color: $light-bg;
	width: 100%;
	overflow-x: hidden;
}
#section-slideshow,
#section-community{
    background-color: $dark-bg;
    color: $white-color;
}
#section-headline,
#section-download{
    //background-color: $light-bg;
}
#section-feature-highlights,
#section-events,
#section-quotes,
#section-feature-details{
    background-color: $white-color;
}
#section-headline,
#section-feature-highlights {
    padding-top: 50px;
    padding-bottom: 50px;
	margin-top: 60px;
}


/**
 * Page content
 */
#page-content{
  	background-color: white;
	//padding: 30px;
}

#page-header{
	margin-top: 120px;
	h2{
		margin-bottom: 10px;
		@include font-size(64px);
	}
	.title-page{
		margin-bottom: 40px;
		h3{
			display: block;
			@include font-size(24px);
			text-transform: uppercase;
			margin: 0px;
			margin-bottom: 80px;
			font-weight: 100;
			padding: 0;
			&:after{
				display: block;
				clear: both;
				content: "";
				position: relative;
				left: 0;
				bottom: 0;
				height: 1px;
				width: 15%;
				border-bottom: 2px solid #ffc600;
				padding: 10px 0px;
			}
		}
	}
}
#section-headline .text-center {
    padding: 70px 0 10px;
}
#section-headline{
	padding-bottom: 20px;
}
/**
* Home page
*/
#section-headline .btn{
	display: inline-block;
    width: 310px;
    margin: 10px auto;
}
.hidden{
	display: none !important;
}
.fixed-top{
	margin: 0;
	padding: 0;
}
.bg-faded {
    background-color: $light-bg;
}
.main-nav, .fixed-top{
    @include transition(all 0.4s ease-out);
}
.fixed-top{
	padding: 20px 0;
}
.sticky{
	padding: 0;
	margin: 0;
	top: 0 !important;
}
.main-nav{
	.inversed-logo{
		display: none;
	}
	.default-logo{
		display: initial;
	}
}
@media(max-width:768px) {
	.fixed-top{
		//position: relative;
		//z-index: initial;
		z-index: 999;
	}
	#section-headline, #section-feature-highlights, #page-header{
		//margin-top: 60px;
		//margin: 0;
		padding-bottom: 0;
	}
}

a.top-title {
    display: inline-block;
    margin-top: 17px;
    margin-left: 9px;
    font-size: 20px;
    font-weight: 700;
	color: $main-color !important;
}

.cc-window{
	background-color: #FFF7DA;
	color:  #232A33;
	.cc-btn{
		background-color: #FFC600;
		border: 1px solid #FFC600;
		color: #FFF7DA;
	}
}

.about{
	iframe{
		margin: 0 auto;
	}
	.timeline{
		margin-top: 40px;
	}
	.us  {
		background: #f0f4f7;
		.container{
			padding-top: 70px;
			> div {
				margin-bottom: 50px;
				padding-left: 30px;
			}
			 .col-md-6 {
				 .zone-ppl {
					margin-bottom: 20px; 
					h3 {
						font-size: 22px;
						margin-top: 0;
						span {
							display: block;
							font-size: 16px;
							color: #fff;
							background: #ffc600;
							padding: 6px;
							margin-top: 5px;
						}
					}
				}
			}
			p {
				font-size: 18px;
			}
			figure {
				margin: 0;
				img {
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
			blockquote {
				padding: 10px 20px;
    			margin: 20px 0 20px;
				font-size: 16px;
				font-style: italic;
				border-left: 5px solid #0ed7b0;
			}
		}
		 h2 {
			font-size: 44px;
			margin-bottom: 50px;
		}
	}
}
.notice{
	margin-top: 40px;
}
#section-slideshow{
	padding: 40px 0;
	h2{
		font-size: 42px;
		color: $white-color;
		letter-spacing: 0;
		line-height: 66px;
		margin-bottom: 20px;
	}
	.item{
		padding: 0 6%;
		.img-container{
			max-width: 100px;
			margin: 0 auto;
			img{
				width: 100%;
			}
		}
		h3{
			font-size: 18px;
			color: $main-color-sub;
			letter-spacing: 0;
		}
		p{
			font-size: 15px;
			color: $white-color;
			letter-spacing: 0;
			line-height: 24px;
		}
	}
}
.wakanda-service{
	background-color: $white-color;
	padding-bottom: 0;
	padding-top: 0;
	h2{
		text-align: center;
		margin-bottom: 0;
		background-color: $lighten-bg-gray;
		padding: 30px 0 20px;
		border-bottom: 1px solid $btn-secondary-light-bd;
		font-family: 'Roboto';
		@include font-size(35px);
		img{
			max-width: 64px;
			margin: -10px 10px 0 0;
		}
	}
	.item{
		border-bottom: 1px solid $btn-secondary-light-bd;
		&:last-child{
			border: none;
		}
		.content-container{
			padding: 80px 0;
			vertical-align: middle;
			h3{
				@include font-size(28px);
				color: $dark-bg;
				letter-spacing: -0.28px;
			}
			p{
				@include font-size(15px);
				color: $secondary-light-bg-color;
				letter-spacing: 0;
				line-height: 24px;
				margin: 30px 0 60px 0;
			}
			a{
				@include font-size(15px);
				color: $highlighted-color-transition;
				letter-spacing: 0;
			}
		}
		.img-container{
			vertical-align: middle;
			/*padding: 0 40px;*/
			width: 100%;
			img{
				width: 100%;
			}
			@media (max-width: 992px) {
				padding: 60px 0;
			}
			@media (max-width: 576px) {
				padding: 10px 0;
				margin-bottom: 0;
			}
			
		}
	}
	.download-wakanda{
		background-color: $dark-bg;
		padding: 40px 0;
		.img-container{
			max-width: 280px;
			img{
				width: 100%;
			}
		}
		p{
			@include font-size(18px);
			color: $negatif-gray;
			letter-spacing: 0;
			margin: -8px 0 0 70px;
		}
		.community-dl{
			color: $darken-blue;
			white-space: initial;
			span{
				color: $darken-blue;
			}
		}
	}
}

@media(max-width:767px) {
	
	.wakanda-service .item{
		padding: 30px 0;
	}
	.wakanda-service .row { display: table; }
	.wakanda-service .row .col-md-8{ 
		display: table-footer-group;
	}
	.wakanda-service .row .col-md-4 {
		display: table-header-group;
		text-align: center;
		.img-container {
			max-width: 260px;
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
	
	.wakanda-service .row .col-md-8 .content-container, #section-slideshow .item{
		padding: 0 12%;
		text-align: center;
	}
}

.page-no-title{
	margin-top: 100px;
}

section#get-started{
	background-color: $highlighted-color-transition;
	color: $white-color;
	text-align: center;
	padding: 20px 0;
	min-height: initial;
	h3{
		font-family: Roboto;
		@include font-size(42px);
		font-weight: bold;
		line-height: 1.57;
	}
	a{
		font-family: Roboto;
		@include font-size(20px);
		font-weight: bold;
		padding: 20px 60px;
		&:hover{
			color: $highlighted-color-transition;
		}
	}
}
.version-community, .version-enterprise{
	top: 0;
	font-size: 100%;
}

#event-upcomming{
	background-image: url('../img/background-ngconf.jpg');
    background-repeat: no-repeat;
    background-position: center; 
	background-size:  100% 100%;
	text-align: center;
	padding: 20px 0;
	h2{
		font-family: Roboto;
		@include font-size(32px);
		color: #ffffff;
		margin-bottom: 10px;
		font-weight: 300;
	}
	img {
    	max-width: 84px;
		margin-bottom: 20px;
	}
	p{
		font-family: Roboto;
		@include font-size(24px);
		color: #ffffff;
	}
	a{
		padding: 10px 40px;
	}
}

.float-error .error{
	float: left;
}


.menu-active{
  font-weight: bold !important;
}

body.has-bg{
	#section-headline {
		margin-top: 0;
		padding: 200px 0 60px;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		#strips{
			display: none;
		}
	}
	#section-feature-highlights{
		margin-top: 0;
	}
	.full-bg-menu{
		background-color: transparent;
		padding: 10px 0;
	}
}

body.full-bg{
	#section-headline {
		background-image: url('/img/home-bg.jpg');
		.section-wrapper-parallax{
			h1, .h2{
				color: #fff;
				font-family: 'Roboto', sans-serif;
			}
			h1{
				font-weight: 900;
			}
			.h2{
				margin-top: 10px;
				strong{
					display: none;
				}
			}
		}
		.btn-inverted{
			background-color: $main-color;
			color: $darken-dark-bg;
			font-weight: 700;
			&:hover, &:visited, &:focus{
				background-color: $main-color-transition;
			}
		}
	}
	.full-bg-menu{
		li a{
			color: #cdced0;
			text-transform: uppercase;
			font-size: 14px;
		}
		.default-logo{
			display: none;
		}
		.inversed-logo{
			display: initial;
		}
	}
}

body.mobile-bg{
	#section-headline {
		background-color: #f0f0f0;
		background-size: contain;
		background-attachment: scroll;
		background-image: url('/img/home-mobile-not-copped.jpg');
		//background-position: 100% 100%;
		//background-position: center center;
		//background-position: bottom -35px right -26%;
		background-position: calc(100% - 100px) calc(100% + 60px);
		@media (max-width: 1440px) {
			background-position: calc(100% + 200px) calc(100% + 60px);
		}
		@media (max-width: 992px) {
			background-position: calc(100% + 300px) calc(100% + 60px);
		}
		@media (max-width: 768px) {
			background-position: calc(100% + 240px) calc(100% + 10px);
		}
		@media (max-width: 576px)
		{
			background-image: none;
		}
	}
	#section-headline{
		padding: 120px 0 0;
		.col-md-12 {
			max-width: 44%;
		}
		h1, .h2{
			text-align: left;
		}
		.h2{
			margin-top: 10px;
			strong{
				display: none;
			}
		}
		p.text-center{
			text-align: left !important;
		}
		@media (max-width: 992px) {
			padding: 120px 0 0;
			.col-md-12 {
				max-width: 60%;
			}
		}
		@media (max-width: 576px)
		{
			.col-md-12 {
				max-width: 100%;
			}
			h1, .h2{
				text-align: center;
			}
			p.text-center{
				text-align: center !important;
			}
		}
		.btn-inverted{
			background-color: $main-color;
			color: $darken-dark-bg;
			font-weight: 700;
			margin-right: 10px;
			&:hover, &:visited, &:focus{
				background-color: $main-color-transition;
			}
		}

		.btn{
			width: auto;
		}

	}
}



#wakanda-support{
  font-style: italic;
  font-size: 13px;
}