<div class="error-bowak alert alert-danger">Response server here</div>
<div class="success-bowak alert alert-success">The download succeeded.</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="bowak-center">Community Edition</h2>
    </div>
</div>
<form name="bowak-contact" id="form-download-community" method="POST" action="https://backoffice.wakanda.io/api/webservice/addmember" 
class="form-horizontal" novalidate>
    <input type="hidden" value="f0f59d1e17" name="list_id">
    <div class="form-group">
        <label class="control-label" for="mce-email">Email <span class="bowak-asterisk">*</span>
        </label>
        <input class="form-control" type="email" name="email" id="mce-email" required>
    </div>
    <div class="form-group">
        <label for="mce-" OS class="control-label">Select your OS <span class="bowak-asterisk">*</span>
        </label>
        <select class="form-control" name="OS" id="mce-OS" required>
            <option value="" selected>Select</option>
            <option value="Windows 64 bits">Windows 64 bits</option>
            <option value="Mac">Mac</option>
            <!--<option value="Linux 32bits (Server Only)">Linux 32bits (Server Only)</option>-->
            <option value="Linux 64bits (Server Only)">Linux 64bits (Server Only)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="mce-FNAME"  class="control-label">First Name <span class="bowak-asterisk">*</span>
        </label>
        <input class="form-control" type="text" name="FNAME" id="mce-FNAME" required>
    </div>
    <div class="form-group">
        <label for="mce-LNAME"  class="control-label">Last Name <span class="bowak-asterisk">*</span>
        </label>
        <input class="form-control" type="text" name="LNAME" id="mce-LNAME" required>
    </div>
    <div class="form-group">
        <label for="mce-phone-country" class="control-label">Phone <span class="bowak-asterisk">*</span></label>
        <input class="form-control" type="tel" id="mce-phone-country" required>
        <span id="error-msg" class="error hidden">Invalid number</span>
    </div>
    <div class="form-group">
        <label for="mce-" COMPANY class="control-label">Company name</label>
        <input class="form-control" type="text" name="COMPANY"
        id="mce-COMPANY">
    </div>  
    <div class="mc-field-group input-group float-error">
		<p>
          <label for="mce-group[4701]-4701-0">I have read, understood and agreed to the <a href="//www.wakanda.io/license-community" target="_blank">Terms and Condition of Use agreement.</a></label>
          <input type="checkbox" value="1" name="" id="mce-group[4701]-4701-0" class="required" style="float: left;">
        </p>
        <p>
          <label for="mce-group[4701]-4701-1">Yes, keep me updated on Wakanda releases, events and offers.</label>
          <input type="checkbox" value="1" name="updated" id="mce-group[4701]-4701-1"style="float: left;">
        </p>
    </div>

    <div class="recaptcha-container">
        <div class="g-recaptcha" data-sitekey="6LfIKS0UAAAAAG_sZHYdguIJvv1sNvpRC7YPiXeK"></div>
        <div class="error hidden">This field is required</div>
    </div>
    <input type="hidden" name="COUNTRY" id="mce-COUNTRY">
    <input type="submit" value="Submit" class="btn btn-primary">
	<div class="w-privacy-policy-link">
		<a href="//wakanda.github.io/legal-notice" target="_blank">Privacy Policy</a>
	</div>
</form>
<script>
    //var frm = $('form#bowak-contact-38');  frm.submit(function (ev) { if(frm.valid()) {$.ajax({ type: frm.attr("method"),  headers: { "X-Requested-With": "XMLHttpRequest" },url: frm.attr("action"), data: frm.serialize(), success: function (data) { $("#success-bowak").show(); $("#error-bowak").hide();download_enterprise_succes();},error: function(jqXHR, textStatus) {$("#success-bowak").hide(); $("#error-bowak").html(jqXHR.responseText); $("#error-bowak").show();} });}ev.preventDefault();return false;});
</script>
                          