
<div class="error-bowak alert alert-danger">Response server here</div>
<div class="success-bowak alert alert-success">The download succeeded. Now, check your email to get your licence key.</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="bowak-center">Entreprise Edition : 30 days trial</h2>
    </div>
</div>
<form name="bowak-contact" id="form-download-enterprise" method="POST" action="https://backoffice.wakanda.io/api/mail-api/add-member"
class="form-horizontal" novalidate>
    <input type="hidden" value="23" name="list_id">
    <div class="form-group">
        <label class="control-label" for="mce-email">Email <span class="bowak-asterisk">*</span>
        </label>
        <input class="form-control" type="email" name="email" id="mce-email" required>
    </div>
    <div class="form-group">
        <label for="mce-" OS class="control-label">Select your OS <span class="bowak-asterisk">*</span>
        </label>
        <select class="form-control" name="OS" id="mce-OS" required>
            <option value="" selected>Select</option>
            <option value="Windows 64 bits">Windows 64 bits</option>
            <option value="Mac">Mac</option>
            <option value="Linux 32bits (Server Only)">Linux 32bits (Server Only)</option>
            <option value="Linux 64bits (Server Only)">Linux 64bits (Server Only)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="mce-" FNAME class="control-label">First Name <span class="bowak-asterisk">*</span>
        </label>
        <input class="form-control" type="text" name="FNAME" id="mce-FNAME" required>
    </div>
    <div class="form-group">
        <label for="mce-" LNAME class="control-label">Last Name <span class="bowak-asterisk">*</span>
        </label>
        <input class="form-control" type="text" name="LNAME" id="mce-LNAME" required>
    </div>
    <div class="form-group">
        <label for="mce-" PHONE class="control-label">Phone</label>
        <input class="form-control" type="tel" name="PHONE" id="mce-PHONE">
    </div>
    <div class="form-group">
        <label for="mce-" COMPANY class="control-label">Company name</label>
        <input class="form-control" type="text" name="COMPANY"
        id="mce-COMPANY">
    </div>  
    <div class="mc-field-group input-group float-error">
        <label for="mce-group[4701]-4701-0">I have read, understood and agreed to the <a href="//www.wakanda.io/license-enterprise" target="_blank">Subscription Agreement</a></label>
        <input type="checkbox" value="1" name="group[4701][1]" id="mce-group[4701]-4701-0" class="required" style="float: left;">
    </div>
    <div id="recaptcha-container">
        <div class="g-recaptcha" data-sitekey="6Ld-KhcUAAAAACtJjfu--O3TtbfDkwmyRGs2KpT7"></div>
        <div class="error hidden">This field is required</div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
                          