
                            <style>
                                    #bowak-contact-15{
                                        background-color: #fff;padding: 20px 40px;border-radius: 10px;margin: 0 5px;
                                    }
                                    #bowak-contact-15 p{
                                        font-size: 14px;margin: 20px 0;color: #807e7e
                                    }
                                    #bowak-contact-15 .btn-primary{
                                        padding: 10px 20px;width: 100%;
                                    }
                                </style>
                                
    <div class="error-bowak alert alert-danger">Response server here</div>
    <div class="success-bowak alert alert-success">Added with success.</div>
                                <form name="bowak-contact" id="bowak-contact-15"
                                method="POST" action="https://backoffice.wakanda.io/api/mail-api/add-member"
                                class="bowak-contact form-horizontal" novalidate>
                                    <input type="hidden" value="15" name="list_id">
                                    <div class="form-group">
                                        <label class="control-label" for="mce-email">Email <span class="bowak-asterisk">*</span>
                                        </label>
                                        <input class="form-control" type="email" name="email" id="mce-email" required>
                                    </div>
                                    <p>By clicking submit, you agree to our <a href="/acceptable-use-policy-aup" target="_blank" class="ite-link">use policy</a></p>
                                    <input type="submit" value="Download" class="btn btn-primary">
                                </form>