<div id="mc_embed_signup">
    <form class="bowak-contact" id="bowak-contact-22"
    method="POST" action="https://backoffice.wakanda.io/api/mail-api/add-member"
    class="form-horizontal" novalidate>
        <input type="hidden" value="4" name="list_id">
        <div class="row">
            <div class="col-md-8">
                <input class="email" type="email" name="email" id="mce-email" placeholder="Enter your email address here" required>
                <label class="success-bowak success">Sent with success</label>
            </div>
            <div class="col-md-4">
                <input type="submit" value="Submit" id="mc-embedded-subscribe">
            </div>
        </div>
    </form>
</div>
