<div class="row request-demo-message">
    <div class="content">
        <h2 style="font-size: 58px !important;">Thank you</h2>
        <p>Thank You For Booking a One-On-One Conversation</p>
    </div>
</div>
<div class="row request-demo-content">
    <div class="col-md-6">
        <div class="first-option">
            <h2 class="bowak-center">We will contact you</h2>
            <form name="bowak-contact" id="form-request-demo"
            method="POST" action="http://backoffice.wakanda.io/api/mail-api/add-member"
            class="bowak-contact form-horizontal" novalidate>
            <div class="error-bowak alert alert-danger">Response server here</div>
            <div class="success-bowak alert alert-success">Thank you for submitting this form</div>
                <div class="form-group">
                    <label class="control-label" for="mce-email">Email <span class="bowak-asterisk">*</span>
                    </label>
                    <input class="form-control" type="email" name="email" id="mce-email" required>
                </div>
                <div class="form-group">
                    <label for="mce-FNAME" class="control-label">First Name <span class="bowak-asterisk">*</span>
                    </label>
                    <input class="form-control" type="text" name="FNAME" id="mce-FNAME" required>
                </div>
                <div class="form-group">
                    <label for="mce-LNAME" class="control-label">Last Name <span class="bowak-asterisk">*</span>
                    </label>
                    <input class="form-control" type="text" name="LNAME" id="mce-LNAME" required>
                </div>
                <div class="form-group">
                    <label for="mce-phone-country" class="control-label">Phone <span class="bowak-asterisk">*</span></label>
                    <input class="form-control" type="tel" id="mce-phone-country" required>
                    <span id="error-msg" class="error hidden">Invalid number</span>
                </div>
                <div class="recaptcha-container">
                    <div class="g-recaptcha" data-sitekey="6LfIKS0UAAAAAG_sZHYdguIJvv1sNvpRC7YPiXeK"></div>
                    <div class="error hidden">This field is required</div>
                </div>
                <input type="hidden" value="0bb7dcc3c6" name="list_id">
                <input type="hidden" name="COUNTRY" id="mce-COUNTRY">
                <input id="request-demo-submit" type="submit" value="Submit" class="btn btn-primary" style="margin-top: 10px;">
            </form>
        </div>
    </div>
    <div class="col-md-6 calendly-demo" >
            <h2 class="bowak-center">Or ... you may also</h2>
            <p class="bowak-center" style="font-size: 18px;">
                Schedule a one-on-one conversation directly <br/>
                <ul>
                    <li>
                        <p>Choose a day</p>
                        <img src="/img/calendly/1Step-Calendly-Wakanda.png" alt="Choose a day">
                    </li>
                    <li>
                        <p>Confirm the time</p>
                        <img src="/img/calendly/2Step-Calendly-Wakanda.png" alt="Confirm the time">
                    </li>
                    <li>
                        <p>Enter details</p>
                        <img src="/img/calendly/3Step-Calendly-Wakanda.png" alt="Enter details">
                    </li>
                </ul>
                <a style="padding: 5px 30px !important;margin: 14px 30px !important;float: left;" href="https://calendly.com/ricardo-mello/one-on-one" class="btn btn-primary" target="_blank">Calendly</a>
            </p>
    </div>
</div>