<!DOCTYPE html>
<html>
    <head>
        {% include get-started/head.html %}
        <script src='https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit'></script>
    </head>
    <body>
        {% include tag_manager_body.html %}
        {% include get-started/header.html %}
        <div class="announcement">
            <div class="container-fluid">
                <div class="row">
                    <div class="sidebar-left col-lg-2 col-md-3 col-sm-12">
                        {% include get-started/search.html %}
                    </div>
                    <div class="sidebar-rigth col-lg-8 col-md-6 col-sm-12">
                        {% include get-started/announcement.html %}
                    </div>
                    <div class="sidebar-rigth col-lg-2 col-md-3 col-sm-12" id="guide-switcher-container">
                        <label for="guide-switcher">Guide : </label>
                        <select name="guide-switcher" id="guide-switcher">
                            {% for version in site.data.get_started.menu reversed %}
                                {% assign version_url = 'v' | append: version.version | append: '/' %}
                                {% if version.latest %}
                                    {% assign version_url = '' %}
                                {% endif %}
                                <option data-href="{{site.url}}/get-started/{{version_url}}" value="{{ version.version }}" {% if version.version == page.version %} selected {%endif%} >v{{ version.version }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-12 col-sm-12 page">
                    
                    {% include get-started/nav.html %}             
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <section id="{{ page.id }}" class="main-section">
                        <div id="chapter">
                            <span>{{ chapter_title }}</span>
                        </div>
                        {{ content }}
                    </section>
                </div>
                <div data-spy="scroll" data-target=".navbar " class="col-lg-2 col-md-12 col-sm-12 page">
                    <nav class="navbar social-media">
                        <div class="scroll">
                            {% include get-started/subnav.html %}
                            {% include get-started/mailing.html %}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        
        {% include get-started/feedback.html %}
        <footer id="footer">
            {% include get-started/footer.html %}
        </footer>
        {% include get-started/sync_scripts.html %}
        <script src='https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit'></script>
        <script>
        ((window.gitter = {}).chat = {}).options = {
            room: 'wakandasoft/Lobby'
        };
        </script>
        <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    </body>
</html>
