<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body class="has-bg mobile-bg">
        {% include tag_manager_body.html %}
        <div>
           {% include menu.html %} 
        </div>
        <div>
            {{ content }}
        </div>
        <footer id="footer">
            {% include footer.html %}
        </footer>
        {% include type_form.html %}
        {% include sync_scripts.html %}
    </body>
</html>
