<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        {% include tag_manager_body.html %}
        <div>
           {% include menu.html %} 
        </div>
        <div id="page-header" {% if page.top_title %} style="display: none" {% endif %}>
            <div class="container">
                <div class="title-page">
                    <h2>{{ page.title }}</h2>
                    {% if page.subtitle %}
                    <h3>{{ page.subtitle }}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="page-content" {% if page.top_title %} class="page-no-title" {% endif %}>
            {{ content }}
        </div>
        <footer id="footer">
            {% include footer.html %}
        </footer>
        {% include type_form.html %}
        {% include sync_scripts.html %}
    </body>
</html>
