.btn {
    transition: all 50ms linear 0s;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 1.25rem 2.5rem;
}
.btn-primary {
    background-color: $btn-default-bg;
    border-color: $btn-default-bg;
    color: $btn-default-color;
    &:hover, &:focus, &:active {
        background-color: $btn-default-hover-bg;
        border-color: $btn-default-hover-bg;
        box-shadow: none;
        color: $white-color;
    }
}
.btn-inverted {
    background-color: $dark-bg;
    color: white;
    &:hover, &:focus, &:active {
        background-color: $hover-menu;
        color: $btn-default-color;
    }
}
.btn-success {
    background-color: $highlighted-color-transition;
    color: $white-color;
    border: none;
    &.active, &:hover, &:focus, &:active, .show>&.dropdown-toggle {
        background-color: $highlighted-color;
    }
}
.btn-default{
    position: relative;
    overflow: hidden;
    background-color: $white-color;
    color: $dark-bg;
    border: 2px solid $dark-bg;
    z-index: 1;
    &.active, &:hover, &:focus, &:active, .show>&.dropdown-toggle {
        color: $white-color;
        background-color: $dark-bg;
    }
}

.btn-success{
    background-color: $highlighted-color;
    color: $white-color;
    &:hover, &:focus, &:active {
        background-color: $highlighted-color-transition;
        color: $white-color;
    }
}

.btn-gray{
    background-color: $secondary-light-bg-color;
    color: $white-color;
    &:hover, &:focus, &:active {
        background-color: $highlighted-color-transition;
        color: $white-color;
    }
}
.btn-blue {
    background-color: $intro-color;
    color: white;
    &:hover, &:focus, &:active {
        background-color: $hover-intro-color;
        color: $btn-default-color;
    }
}
.btn-orange {
    background-color: $secondary-color;
    color: white;
    &:hover, &:focus, &:active {
        background-color: $darken-orange;
        color: white;
    }
}
.btn-base-blue {
    background-color: $base-blue;
    color: white;
    &:hover, &:focus, &:active {
        background-color: $lighten-base-blue;
        color: $btn-default-color;
    }
}
.btn-small{
    padding: 10px 20px;
}
.btn-transparent{
    background-color: transparent;
    border: 1px solid $white-color;
    color: $white-color;
    &:hover, &:focus, &:active {
        background-color: $white-color;
        color: $checkbox-color;
    }
}






@media (max-width: 425px) { 
    .btn{
        white-space: initial;
    }
}

