#section-community {
    p {
        margin-top: 25px;
    }
    img {
        margin-top: 17px;
        border-radius: 4px;
    }
    a {
        color: $main-color;
    }
    h3 {
        margin-top: 20px;
    }
    .btn-success {
        text-align: left;
        width: 280px;
        white-space: normal;
        border: 1px solid $white-color;
        background-color: $dark-bg;
        color: $white-color;
        font-weight: 100;
        &:hover {
            border: 1px solid $highlighted-color;
        }
        .fa {
            font-size: 35px;
            float: left;
            margin-right: 20px;
        }
        .fa-rss {
            padding-top: 5px;
        }
    }
}