

@font-face{
  font-family: 'icomoon';
  src: 	url("../font/icomoon.eot");
  src: 	local("icomoon"),
  			url("../font/icomoon.woff") format("woff"),
  			url("../font/icomoon.ttf") format("truetype"),  
            url('../font/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*@include embed-font("icomoon", "font/icomoon");*/

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-2x{
    @include font-size(24px);
}
.icon-3x{
    @include font-size(28px);
}
.icon-4x{
    @include font-size(32px);
}
.icon-5x{
    @include font-size(48px);
}
.icon-6x{
    @include font-size(56px);
}
.icon-7x{
    @include font-size(64px);
}
.icon-8x{
    @include font-size(72px);
}
.icon-9x{
    @include font-size(80px);
}
.icon-10x{
    @include font-size(92px);
}
.icon-11x{
    @include font-size(125px);
}
.icon-circle{
    border: 1px solid;
    @include border-radius(50%);
    &.icon-5x{
        border: 3px solid;
        padding: 20px;
    }
}





.icon-badge .path1:before {
  content: "\e939";
  color: rgb(243, 243, 243);
}
.icon-badge .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-badge .path3:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(85, 85, 85);
}
.icon-wakanda .path1:before {
  content: "\e93c";
  color: rgb(243, 243, 243);
}
.icon-wakanda .path2:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-wakanda .path3:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(85, 85, 85);
}
.icon-map-marker:before {
  content: "\e938";
}
.icon-chevron-o-up:before {
  content: "\e900";
}
.icon-chevron-o-left:before {
  content: "\e901";
}
.icon-chevron-o-down:before {
  content: "\e931";
}
.icon-chevron-o-right:before {
  content: "\e932";
}
.icon-close:before {
  content: "\e933";
}
.icon-chevron-up:before {
  content: "\e934";
}
.icon-chevron-down:before {
  content: "\e935";
}
.icon-chevron-right:before {
  content: "\e936";
}
.icon-chevron-left:before {
  content: "\e937";
}
.icon-message:before {
  content: "\e930";
}
.icon-mysql-o .path1:before {
  content: "\e92d";
  color: rgb(245, 245, 245);
}
.icon-mysql-o .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mysql-o .path3:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(85, 85, 85);
}
.icon-angular-o .path1:before {
  content: "\e90c";
  color: rgb(245, 245, 245);
}
.icon-angular-o .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-angular-o .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(85, 85, 85);
}
.icon-build-mobile-o .path1:before {
  content: "\e90f";
  color: rgb(245, 245, 245);
}
.icon-build-mobile-o .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-build-mobile-o .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(85, 85, 85);
}
.icon-cloud-o .path1:before {
  content: "\e912";
  color: rgb(245, 245, 245);
}
.icon-cloud-o .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cloud-o .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(85, 85, 85);
}
.icon-datamodel-o .path1:before {
  content: "\e915";
  color: rgb(245, 245, 245);
}
.icon-datamodel-o .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-datamodel-o .path3:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(85, 85, 85);
}
.icon-logic-o .path1:before {
  content: "\e918";
  color: rgb(245, 245, 245);
}
.icon-logic-o .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logic-o .path3:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(67, 66, 66);
}
.icon-mobile-o .path1:before {
  content: "\e91b";
  color: rgb(245, 245, 245);
}
.icon-mobile-o .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mobile-o .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(85, 85, 85);
}
.icon-scalability-o .path1:before {
  content: "\e91e";
  color: rgb(255, 255, 255);
}
.icon-scalability-o .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.icon-scalability-o .path3:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(85, 85, 85);
}
.icon-server-o .path1:before {
  content: "\e921";
  color: rgb(245, 245, 245);
}
.icon-server-o .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-server-o .path3:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(85, 85, 85);
}
.icon-smartphone-o .path1:before {
  content: "\e924";
  color: rgb(245, 245, 245);
}
.icon-smartphone-o .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-smartphone-o .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(85, 85, 85);
}
.icon-smartphone-o .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(85, 85, 85);
}
.icon-smartphone-o .path5:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(85, 85, 85);
}
.icon-smartphone-o .path6:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(85, 85, 85);
}
.icon-web-o .path1:before {
  content: "\e92a";
  color: rgb(245, 245, 245);
}
.icon-web-o .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-web-o .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(85, 85, 85);
}
.icon-download:before {
  content: "\e90b";
}
.icon-web:before {
  content: "\e90a";
}
.icon-angular:before {
  content: "\e902";
}
.icon-cloud:before {
  content: "\e903";
}
.icon-database:before {
  content: "\e904";
}
.icon-datamodel:before {
  content: "\e905";
}
.icon-ionic:before {
  content: "\e906";
}
.icon-mobile:before {
  content: "\e907";
}
.icon-scalability:before {
  content: "\e908";
}
.icon-wakanda-cloud:before {
  content: "\e909";
}

