@import url(../../lib/slick-theme.css);
.home-header {
  color: black;
  text-align: center;
  background-color: #c9d4db;
  -webkit-box-shadow: inset 0px -10px 23px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px -10px 23px -4px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -10px 23px -4px rgba(0, 0, 0, 0.1); }
  .home-header a {
    color: black;
    text-decoration: none; }
    .home-header a:hover {
      text-decoration: underline; }
  .home-header h1 {
    font-size: 30px;
    color: #212121;
    font-weight: 700;
    margin-top: -20px; }
  .home-header .caption {
    font-size: 22px;
    font-weight: 200;
    padding: 10px 0 0 0; }
  .home-header .slides {
    margin-bottom: 0px; }
  .home-header .hide-before-init {
    display: none; }
  .home-header .play-gif {
    opacity: 0;
    -webkit-animation-name: appear;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards; }
@-webkit-keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .home-header .slick-dots,
  .home-header .slick-arrow {
    max-height: 0;
    opacity: 0;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-name: reveal;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-name: reveal;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards; }
@-webkit-keyframes reveal {
  from {
    max-height: 0;
    opacity: 0.2; }
  to {
    max-height: 200px;
    opacity: 1; } }
@keyframes reveal {
  from {
    max-height: 0;
    opacity: 0.2; }
  to {
    max-height: 200px;
    opacity: 1; } }
  .home-header .slick-initialized .hide-before-init {
    display: block; }
  .home-header .slick-arrow {
    width: 40px;
    height: 40px; }
    .home-header .slick-arrow:before {
      font-size: 40px; }
  .home-header .slick-next {
    right: -55px; }
  .home-header .slick-prev {
    left: -55px; }
  .home-header .slick-dots {
    margin: auto;
    font-size: 15px; }
    .home-header .slick-dots li {
      width: auto;
      height: auto;
      margin: 15px 0 15px 0; }
      .home-header .slick-dots li span {
        font-weight: 400;
        padding: .4em .8em .5em;
        border: 1px solid #c9d4db;
        color: #272727;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em; }
        .home-header .slick-dots li span i.fa {
          padding: 0 3px 0 3px; }
        .home-header .slick-dots li span:hover {
          background-color: rgba(255, 255, 255, 0.15); }
      .home-header .slick-dots li.slick-active span {
        border: 1px solid black;
        color: black; }
    .home-header .slick-dots li.secondary span {
      font-weight: 100; }
      .home-header .slick-dots li.secondary span:hover {
        background-color: none; }

.square {
  background-color: #fafafa;
  box-sizing: border-box;
  padding-bottom: 5px;
  margin-bottom: 15px; }
  .square:hover {
    background-color: #f3f3f3; }
    .square:hover:hover .head {
      color: #fff; }
  .square .head {
    color: #323232;
    text-align: center;
    height: 50px;
    background-color: #f3f3f3;
    font-size: 18px;
    line-height: 50px; }
  .square .head .label {
    font-size: 10px;
    background-color: white;
    border-radius: 5px;
    color: #545454;
    padding: 4px 8px 4px 8px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    top: -3px;
    letter-spacing: 1px; }
  .square a.action {
    float: none;
    height: auto;
    display: block;
    width: 100%;
    color: #555555;
    font-weight: 700;
    line-height: 1.5;
    text-align: center; }
    .square a.action .stepPic {
      height: 96px;
      width: 96px;
      background-position: 0 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      margin-bottom: 20px;
      background-position: center;
      background-repeat: no-repeat; }
      .square a.action .stepPic.templates {
        background-image: url(../../../img/pic_templates.png); }
      .square a.action .stepPic.angular {
        background-image: url(../../../img/pic_angular.png); }
      .square a.action .stepPic.wizard {
        background-image: url(../../../img/pic_wizard.png); }
      .square a.action .stepPic.scalability {
        background-image: url(../../../img/pic_scalability.png); }
      .square a.action .stepPic.ionic {
        background-image: url(../../../img/pic_ionic.png); }
      .square a.action .stepPic.wakCloud {
        background-image: url(../../../img/pic_wakCloud.png); }
      .square a.action .stepPic.deployServer {
        background-image: url(../../../img/pic_deployServer.png); }
      .square a.action .stepPic.connectDB {
        background-image: url(../../../img/pic_connectDB.png); }
      .square a.action .stepPic.designData {
        background-image: url(../../../img/pic_designData.png); }
      .square a.action .stepPic.model {
        background-image: url(../../../img/pic_model.png); }
      .square a.action .stepPic.prototype {
        background-image: url(../../../img/pic_prototype.png); }
      .square a.action .stepPic.webApp {
        background-image: url(../../../img/pic_webApp.png); }
      .square a.action .stepPic.mobileApp {
        background-image: url(../../../img/pic_mobileApp.png); }
      .square a.action .stepPic.session {
        background-image: url(../../../img/icon-session.png); }
      .square a.action .stepPic.circle {
        background-color: white;
        border-radius: 50%;
        box-sizing: border-box;
        border: 4px solid white; }
      .square a.action .stepPic.deploy {
        background-image: url(../../../img/icon-deploy.png); }
      .square a.action .stepPic.connect {
        background-image: url(../../../img/icon-connect.png); }
      .square a.action .stepPic.session {
        background-image: url(../../../img/icon-session.png); }
    .square a.action:hover {
      color: #555; }

#home #contribute {
  visibility: hidden; }

@media print, screen and (max-width: 800px) {
  .home-header h1 {
    margin-top: 10px; }

  .slick-arrow {
    display: none !important; } }
@media print, screen and (max-width: 1060px) {
  section .getting-started {
    margin-top: 5px;
    width: 360px; }
  section .step {
    width: 160px; }

  /*.home {
    display: none;
  }*/ }
